body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #78b8f8;
    color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 250px;
    width: auto;
    align-items: center;
}

nav {
    background-color: #5a9fd4;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
}

main {
    margin: 5%;
}

footer {
    background-color: #78b8f8;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

footer p {
    font-size: 16px;
    text-align: center;
}

footer a {
    display: flex;
    align-items: center;
}

footer img {
    height: 200px;
    width: auto;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

figure {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

figcaption {
    padding: 10px;
    font-size: 20px;
    color: #94cdff ;
    background-color: #e7f1fc;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

@media (max-width: 900px) {
    article {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    article {
        grid-template-columns: 1fr;
    }
}

button {
  cursor: pointer;
}